<?xml version="1.0" encoding="UTF-8"?>
<faqs id="FAQ" title="Frequently Asked Questions">
  <part id="General">
    <title>General</title>
    <faq id="hiding-password">
      <question>How can a database password be hidden from the <em>pom.xml</em>?</question>
      <answer>
        <p>One strategy is to place the password in a profile in the <em>settings.xml</em>.</p>
        <source><![CDATA[
<profiles>
  <profile>
    <id>schemacrawler-credentials</id>
    <activation>
      <activeByDefault>true</actioveByDefault>
    </activation>
    <properties>
      <schemacrawler.password>superSecretPassword</schemacrawler.password>
    </properties>
  </profile>
</profiles>
]]>
        </source>
      </answer>
    </faq>
  </part>
  <part id="Versions">
    <title>Versions</title>
    <faq id="version-schemacrawler">
      <question>What version of <em>schemacrawler.jar</em> is used by the plugin?</question>
      <answer>
        <p>Please refer to the <a href="dependencies.html">Project Dependencies</a> page.</p>
      </answer>
    </faq>
    <faq id="version-override">
      <question>Can the version of <em>schemacrawler.jar</em> be overridden?</question>
      <answer>
        <p>Yes.  Maven 2.0.9 introduced the ability to override a dependency used by a plugin.  For example:</p>
        <source><![CDATA[
<plugin>
  <groupId>net.sourceforge.schemacrawler</groupId>
  <artifactId>schemacrawler-maven-plugin</artifactId>
  <version>${SchemacrawlerMavenPluginVersion}</version>
  <dependencies>
    <dependency>
      <groupId>net.sourceforge.schemacrawler</groupId>
      <artifactId>schemacrawler</artifactId>
      <version>${SchemacrawlerVersion}.1</version>
    </dependency>
  </dependencies>
</plugin>
]]>
        </source>
        <p>The above example uses a newer version of the <em>schemacrawler.jar</em> than what is
        defined for the plugin.  But please note that the different version needs to have a
        compatible interface; using a different version is not guaranteed to work correctly, so do
        this at your own risk.</p>
      </answer>
    </faq>
  </part>
</faqs>
