name: Quick Build

on: push

jobs:
  build:
    name: Quick build
    runs-on: ubuntu-latest
    steps:

# SETUP BUILD ENVIRONMENT
    - id: prepare-maven-build
      name: Prepare Maven build
      uses: sualeh/prepare-maven-build@v0.0.3

# BUILD AND TEST
    - id: build-test
      name: Build and run tests
      run: |
        mvn \
          --no-transfer-progress \
          --batch-mode \
          package
